img[src$='#floatleft']
{
	float:left;
	margin-right: 25px;
        //etc. etc/
}

img[src$='#floatcenter']
{
	float:center;
       //etc. etc.
}

img[src$='#floatright']
{
	float:right;
	margin-left: 25px;
       //etc. etc.
}
